name: Java CI and Deploy to Render

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the repository
      - uses: actions/checkout@v3

      # Step 2: Set up Java
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '25'
          distribution: 'temurin'

      # Step 3: Build the project with Maven, skipping tests
      - name: Build with Maven
        run: mvn clean package -DskipTests

      # Step 4: Build Docker image from Dockerfile
      - name: Build Docker image
        run: docker build -t my-app .
      - name: Deploy to production
        uses: johnbeynon/render-deploy-action@v0.0.8
        with:
          service-id: ${{ secrets.srv-d4imkqh5pdvs7383j7sg}}
          api-key: ${{ secrets.rnd_hbdYWVBzbzzJdFzVZNBeVpaD7QWU }}
